body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .google_piechart {
    width: 900px;
    height: 500px;
  }

  .parent {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  
  .child:nth-child(2) {
    flex-grow: 1;
  }
    
  /* --------- Non-flexbox related styles --------- */
  .parent > div {
    margin: 1% 2%;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    color: #ffe8c3;
    text-align: center;
    background-color: #eab768;
    border-radius: 10px;
    border: 10px solid #f5cc8b;
  }
  
  .parent > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  