{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <div id="content">
            <form class="form-inline" action="{{ url_for('home')}}" method="post">
            <div class="input-group">
                <input type="text" class="form-control search-form" id="repo_name" name="repo" placeholder="Repo_name">
                <span class="input-group-btn">
                    <button id="search-this" class="pull-right btn-default search-btn" type="submit">Search</button>
                </span>
            </div>
            </form>
        </div> 
    </div>

{% endblock  %}