<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">

	<title>Show Data on Google Pie Chart using Python Flask</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var piechart_data = google.visualization.arrayToDataTable([
                {% for key, value in data.stats.items() %}
                    {% if value is string %}
                        ['{{ key }}', '{{ value }}'],
                    {% else %}
                        ['{{ key }}', {{ value }}],
                    {% endif %}
                {% endfor %}
            ]);

            var barchart_data = google.visualization.arrayToDataTable([
            ['category', 'module', 'syntax', 'performance', 'integration', 'multiprocessing',
                'api-configuration',  { role: 'annotation' } ],
                {% for key, value in data.problems.items() %}
                    ['{{ key }}', {{value[0]}}, {{value[1]}}, {{value[2]}},
                    {{value[3]}}, {{value[4]}}, {{value[5]}}, ''],
                {% endfor %}
            ]);

            var piechart_options = {
                title: 'Problem Frequency',
                is3D: true,
                legend: 'none',
                focusTarget: 'category',
                tooltip: { isHtml: true},
            };

            var barchart_options = {
                width: 1000,
                height: 800,
                legend: { position: 'top', maxLines: 3 },
                bar: { groupWidth: '75%' },
                isStacked: true
            }

            var piechart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            function selectHandler() {
                var selection = piechart.getSelection()[0];
                var problem_name = piechart_data.getValue(selection.row, 0);
                var id = {{data.id}};
                $.post(`/chart/${id}`,  {
                    json_data: problem_name
                });
            }
            google.visualization.events.addListener(piechart, 'select', selectHandler);
            piechart.draw(piechart_data, piechart_options);

            var barchart = new google.visualization.BarChart(document.getElementById('stacked_barchart'));
            barchart.draw(barchart_data, barchart_options);
        }
    </script>
</head>

<body>

    <div class="container">
        <div class="row"> 
            <div>
                <h3 class="text-center">Show Data on Google Pie Chart using Python Flask</h3>
            </div>
            <div class="d-grid gap-2 d-md-block" style="padding-bottom: 20px;">
            <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
                </button>
            </div>
            

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
            
            <div class="justify-content-center">
                <table class="columns">
                <tr>
                    <td><div id="piechart_3d" class="google_piechart"></div></td>
                    <td>
                        <div class="parent">
                            <div class="child">Header</div>
                            {% if data.problem_list != None %}
                                {% for item in data.problem_list %}
                                    <div class="child">body</div>
                                {% endfor %}
                            {% endif %}
                            <div class="child">Footer</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="stacked_barchart" style="width: 900px; height: 500px;"></div>
                    </td>    
                </tr>
                </table>
            </div>

            

        </div> 
    </div>
    
    


    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>